@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url(https://allfont.es/allfont.css?fonts=cooperhewitt-book);

* {
  margin: 0;
  padding: 0;
 }

$colorRosa: #ed8b8b;
$colorVerde: #a5b889;
$colorBlanco: #ffffff;
$colorAmarillo: #f6eec5;
$fuenteTitulo: 70px;
$margenSuperiorPie: 30px;
$estandar: 10px;

.fondoVerde{
  background-color: $colorVerde;
}

.encabezado__tituloPagina {
  color: $colorBlanco !important;
  font-family: 'Allura', cursive !important;
  font-size: $fuenteTitulo/2 !important;
  /*margin-right: $estandar*50 !important;*/
 }

.letraBlanca{
  color: $colorBlanco !important;
}

.letraVerde{
  color: $colorVerde !important;
}

.letraRosa{
  color: $colorRosa !important;
}

.navbar-collapse{
  flex-grow: 0
}

.main__tituloPrincipal{
    color: $colorRosa;
    text-align: center;
    font-family: 'CooperHewitt-Book', arial;
    grid-area: titulo;
  }

  .section__border--color{
    color: $colorRosa;
  }

  .texto{
    font-family: 'CooperHewitt-Book', arial;
  }

  .encabezado__menu__opcion--formato {
    color: $colorBlanco !important;
    font-family: 'CooperHewitt-Book', arial !important;
    font-size: 1rem !important;
   }

  .section__border{
    /*height: 500px;
    width: calc(50% - 21px);*/
    background-color: $colorBlanco;
    border: 3px solid $colorVerde;
    padding: $estandar/2;
    /*margin: 2px;*/
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .table__thead {
    color: $colorRosa;
    background-color: $colorAmarillo;
    border: 1px solid;
   }

   input {
    border: 2px solid $colorVerde !important;
   }

   .form__combox {
    border: 2px solid $colorVerde !important;
   }

   .form__button {
     background-color: $colorVerde;
     border-color: $colorVerde;
   }

  .piePagina{
    margin-top: $margenSuperiorPie*2;
    background-image:linear-gradient($colorVerde, $colorBlanco);
    /*background-color: $colorVerde;*/
    width: 100%;
    /*margin-left: 2px;*/
    height: $estandar*6.5;
    display: flex;
    flex-wrap: wrap;
    padding-right: $estandar*2;
    align-content: center;
    justify-content: flex-end;
   }

   .piePagina__icon{
     margin-left: $estandar;
   }